
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fcefee;

    font-family: "Outfit", sans-serif;
    font-style: normal;
}

#div1{
    width: 85%;
    max-width: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    margin: auto;
    margin-top: 90px;
}

#title {
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    color: #1c0c59;
}

#text {
    text-align: center;
    font-size: large;
    color: #353941;
}

#form {
    width: 85%;
    max-width: 500px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.189), 0px 8px 12px 0px rgba(0, 0, 0, 0.189);
    border-radius: 10px;
}

#email {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    background-color: #fccde2;
    border-radius: 6px;
    border-color: #fc5c9c;
    text-align: center;
}

#btn {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    background-color:#fc5c9c;
    border-color: #fc5c9c;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

#s-text {
    text-align: center;
    padding: 20px;
    color: #362391;
}

.error {
    color: #40b6ff;
    font-size: 12px;
    display: block;
    font-weight: bold;
    margin-top: 4px;
}

.error-input {
    border: 1px solid #40b6ff;
}